//@charset "utf-8";
@import "normalize";
@import "bootstrap-sprockets";
@import "bootstrap";

@import 'bootstrap';

@font-face {
  font-family: 'Chess Maya';
  src: local('Chess Maya'), url(/fonts/MAYAFONT.otf);
}

body {
  background-color: #111111;
  color: #ffffff;
}

h1 {
  font-family: 'Uncial Antiqua', cursive;
}

.center {
  text-align: center;
}

.inline {
  display: inline;
}

.cursor-pointer {
  cursor: pointer;
}

#queens-attack-application {
  margin-top: 50px;
}

@mixin chesspiece {
  font-family: 'Chess Maya';
  font-size: 45px;
  line-height: 0;
  vertical-align: middle;
}

@mixin select-team-option {
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  font-size: 30px;
  margin: 0 3px;
  padding: 0 3px;
}

.select-chesspiece {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;

  .select-team {
    @include chesspiece;
    @include select-team-option;
    background-color: #bbbbbb;
  }
  .select-team-selecting {
    @include chesspiece;
    @include select-team-option;
    background-color: #fcfbb1;
  }
  .select-team:hover, .select-team-selecting:hover{
    background-color: #f0ad4e;
    cursor: pointer;
  }
}

.chesspiece-red {
  color: #ff3399;
}

.chesspiece-blue {
  color: #0000ff;
}

table.chessboard {
  border: 3px solid #aa7777;
  margin-left: auto;
  margin-right: auto;

  td {
    @include chesspiece;
    height: 56px;
    width: 56px;
    line-height: 0;
    vertical-align: middle;
  }

  td.light {
    background-color: #ccccaa;
  }

  td.dark {
    background-color: #995000;
  }
}

.attack-status {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;

  .label {
    margin-left: 4px;
  }
}

.challenge-description {
  margin-top: 35px;

  .panel-heading {
    background-color: #f0ad4e;
  }
  .panel-body {
    background-color: #fff8e4;
    color: #000000;
  }
}
